---
title: Jon Morehouse
---

#logo

	/ store all images in the first container
	%div	

		/ prefer the older, more verbose :
		%img{:src => "/images/logo.png"}
		/ something goes here in the future!

	%div	

		%h1= "Jon Morehouse"
		
		%h2
			S
			%span= "tudent."

		%h2
			H
			%span= "acker."

		%h2
			E
			%span= "ngineer."


#slider
	/ slider element	
	%div

	%div
		%canvas
